$colors: (
  borders: #CBCBCB,
  primary: rgb(0, 137, 207),
  secondary: rgb(250, 205, 16),
  secondaryDark: #C8A40F,
  third: rgb(85, 167, 56),
  shadow: rgba(0, 0, 0, 0.2),
  background:#fff,
  yellowGreen: (45deg, rgb(250, 205, 16) 0%, rgb(85, 167, 56) 100%),
);