@import url('https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css');
$break-tablet: 45rem;
$break-desktop: 64rem;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}


