@import "./helpers/functions.scss", "./helpers/mixins", "./base/color", "./base/config.scss",  "./base/typo" ;


 .wrapper {
  margin:0 auto;
  max-width: 120rem;
} 

.header {
  margin: 2rem 1rem;
  &__title {
    font-size: 3.2rem;
    font-weight: 300;
  }
}

.grid {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;

  &__item {
    display: flex;
    width: calc(100% - 20px);
    margin: 1rem;
    height: auto;
    border-radius: 2px;

    @media screen and (min-width: $break-tablet) {
      width: calc(50% - 2rem);
      margin: 1rem auto;
    }

    @media screen and (min-width: $break-desktop) {
      width: calc(33.333% - 2rem);
    }
  }
}

.card {
  width: 100%;
  height: auto;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px color(blackShadow);
  background-color: #fff;

  &--bcg-grad {
    background: -webkit-linear-gradient(45deg, color(yellow) 0%, color(green) 100%);
    background: linear-gradient(45deg, color(yellow) 0%, color(green) 100%);
  }

  &__header {
    border-radius: 2px 2px 0 0;
    width: 100%;
    height: 200px;
    background-image: url("https://image.shutterstock.com/image-photo/car-thief-using-tool-break-450w-147792686.jpg");
    background-size: cover;
    position: relative;
  }

  &__header--polygon {
    height: 25rem;
    -webkit-clip-path: polygon(0 -50%, 160% 0, 100% 250px, 0 200px);
    clip-path: polygon(0 -50%, 160% 0, 100% 250px, 0 200px);
  }

  &__text {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;

    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: -15px;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    background-color: color(blue);
    box-shadow: 0px 10px 20px 0px rgba(color(blue), 0.5);
    color: white;
  }

  &__text--yellow {
    background-color: color(yellow);
    box-shadow: 0px 10px 20px 0px rgba(color(yellow), 0.5);
    color: black;
  }

  &__close {
    display: inline-block;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: -2rem;
    right: -2rem;
    width: 4rem;
    height: 4rem;
    border: 2px solid color(green);
    box-shadow: 0px 10px 20px 0px rgba(color(green), 0.5);

    &::before,
    &::after {
      position: absolute;
      left: 1.7rem;
      top: 0.9rem;
      content: " ";
      height: 2rem;
      width: 0.3rem;
      background-color: #55a738;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  &__title {
    font-size: 1.6rem;
    text-align: center;
    padding: 0.3rem 0;
    margin-top: 2.5rem;
  }

  &__text-main {
    font-size: 1.4rem;
    text-align: center;
    padding: 0 2rem;
  }

  &__text-relevant-container {
    border-left: 7px solid color(yellow);
    margin: 2rem;
  }

  &__text-relevant {
    font-size: 2.2rem;
    margin-left: 0.5rem;
  }

  &__button {
    border-radius: 20px;
    padding: 1rem 5rem;
    border: none;
    background-color: color(yellow);
    box-shadow: 0px 2px 0px 0px color(yellowShadow);
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1.5rem auto;
    display: block;
    cursor: pointer;
  }
}

.form {
  margin: 2.5rem;

  &__title {
    font-size: 1.2rem;
  }
  &__inputs-group {
    display: flex;
    justify-content: space-between;
  }
  &__input-single {
    display: flex;
    flex-direction: column;
    width: 45%;
  }
  &__label {
    font-size: 1.2rem;
  }

  &__input {
    height: 4rem;
    border: 2px solid color(lightGrey);
    border-radius: 2px;
    margin-top: 0.5rem;
  }

  &__radios-group {
    margin-top: 1.2rem;
  }

  &__radio-single {
    display: inline-block;
    margin-top: 2rem;
    position: relative;
  }

  &__radio-input {
    @include hideElement;
  }

  &__radio-input:checked + &__radio-label {
    background-color: color(blue);
    border-color: color(blue);
    color: white;
    &::before {
      border: 4px solid white;
      background-color: color(blue);
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  &__radio-label {
    font-size: 1.4rem;
    border: 2px solid color(lightGrey);
    border-radius: 20px;
    padding: 0.6rem 1.2rem 0.6rem 0.6rem;
    cursor: pointer;

    &::before {
      content: "";
      display: inline-block;
      width: 1.8rem;
      height: 1.8rem;
      margin-right: 0.4rem;
      border-radius: 100%;
      vertical-align: -0.3rem;
      border: 2px solid color(lightGrey);
      padding: 0.16rem;
      background-color: transparent;
      background-clip: content-box;
    }
    &:hover {
      border-color: color(blue);
      color: color(blue);
      &::before {
        border-color: color(blue);
        background-color: color(lightGrey);
      }
    }
  }

  &__checkbox {
    margin-top: 2rem;
  }

  &__checkbox-input {
    @include hideElement;
  }

  &__checkbox-input:checked + &__checkbox-label::before {
    background-color: color(blue);
    border-color: color(blue);
  }

  &__checkbox-input:checked + &__checkbox-label::after {
    border-color: white;
    display: inline;
  }

  &__checkbox-label {
    font-size: 1.2rem;
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      display: inline-block;
      width: 2.2rem;
      height: 2.2rem;
      margin-right: 0.5rem;
      vertical-align: -0.6rem;
      border: 2px solid color(lightGrey);
      padding: 0.12rem;
      background-color: transparent;
      border-radius: 2px;
    }

    &::after {
      border-right: 3px solid #CBCBCB;
      border-top: 3px solid #CBCBCB;
      content: "";
      height: 1.3rem;
      left: 4px;
      position: absolute;
      top: 8px;
      transform: scaleX(-1) rotate(135deg);
      transform-origin: left top;
      width: 0.7rem;
      display: none;
    }

    &:hover::before {
      border-color: color(blue);
    }

    &:hover::after {
      display: inline;
    }
  }

  &__picker-input {
    @include hideElement;
  }

  &__picker {
    display: inline-block;
    margin-top: 1.5rem;
  }

  &__picker-label {
    cursor: pointer;
    display: inline-block;
    border: 2px solid #CBCBCB;
    border-radius: 20px;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.8rem 4rem;
  }

  &__picker-input:checked + &__picker-label {
    background-color: color(blue);
    color:white;
  }
}
