@import "./helpers/functions.scss", "./helpers/mixins", "./base/color", "./base/config.scss",  "./base/typo" ;

body {
  background-color: #CBCBCB;
  font-family: "Open Sans", sans-serif;
  padding: 1rem 2rem;
}

 .wrapper {
  margin:0 auto;
  max-width: 120rem;
} 

.header {
  margin: 2rem 1rem;
  &__title {
    font-size: 3.2rem;
    font-weight: 300;
  }
}

.grid {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;

  &__item {
    border-radius: 2px;
    display: flex;
    height: auto;
    margin: 1rem;
    width: calc(100% - 2rem);

    @media screen and (min-width: $break-tablet) {
      margin: 1.5rem auto 1rem auto;
      width: calc(50% - 2rem);
    }

    @media screen and (min-width: $break-desktop) {
      width: calc(33.333% - 2rem);
    }
  }
}

.card {
  background-color: color(background);
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px color(shadow);
  height: auto;
  width: 100%;

  &--bcg-grad {
    background: -webkit-linear-gradient(color(yellowGreen));
    background: linear-gradient(color(yellowGreen));
  }

  &__header {
    border-radius: 2px 2px 0 0;
    background-image: url("https://image.shutterstock.com/image-photo/car-thief-using-tool-break-450w-147792686.jpg");
    background-size: cover;
    height: 200px;
    position: relative;
    width: 100%;
  }

  &__header--polygon {
    height: 25rem;
    clip-path: polygon(0 -50%, 160% 0, 100% 250px, 0 200px);
    -webkit-clip-path: polygon(0 -50%, 160% 0, 100% 250px, 0 200px);
  }

  &__text {
    background-color: color(primary);
    border-radius: 15px;
    box-shadow: 0px 10px 20px 0px rgba(color(primary), 0.5);
    color: #fff;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    top: 20px;
    left: -15px;
  }

  &__text--yellow {
    background-color: color(secondary);
    box-shadow: 0px 10px 20px 0px rgba(color(secondary), 0.5);
    color: black;
  }

  &__close {
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid color(third);
    box-shadow: 0px 10px 20px 0px rgba(color(third), 0.5);
    display: inline-block;
    height: 4rem;
    position: absolute;
    top: -2rem;
    right: -2rem;
    width: 4rem;

    &::before,
    &::after {
      background-color: color(third);
      content: " ";
      height: 2rem;
      left: 1.6rem;
      top: 0.8rem;
      position: absolute;
      width: 0.3rem;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  &__title {
    font-size: 1.6rem;
    margin-top: 2.5rem;
    padding: 0.3rem 0;
    text-align: center;
  }

  &__text-main {
    font-size: 1.4rem;
    text-align: center;
    padding: 0 2rem;
  }

  &__text-relevant-container {
    border-left: 7px solid color(secondary);
    margin: 2rem;
  }

  &__text-relevant {
    font-size: 2.2rem;
    margin-left: 0.5rem;
  }

  &__button {
    background-color: color(secondary);
    border-radius: 20px;
    box-shadow: 0px 2px 0px 0px color(secondaryDark);
    border: none;
    padding: 1rem 5rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1.5rem auto;
    display: block;
    cursor: pointer;
  }
}

.form {
  margin: 2.5rem;

  &__title {
    font-size: 1.2rem;
  }
  &__inputs-group {
    display: flex;
    justify-content: space-between;
  }
  &__input-single {
    display: flex;
    flex-direction: column;
    width: 45%;
  }
  &__label {
    font-size: 1.2rem;
  }

  &__input {
    border: 2px solid color(borders);
    border-radius: 2px;
    height: 4rem;
    margin-top: 0.5rem;
  }

  &__radios-group {
    margin-top: 1.2rem;
  }

  &__radio-single {
    display: inline-block;
    margin-top: 2rem;
    position: relative;
  }

  &__radio-input {
    @include hideElement;
  }

  &__radio-input:checked + &__radio-label {
    background-color: color(primary);
    border-color: color(primary);
    color: #fff;
    &::before {
      background-color: color(primary);
      border: 4px solid #fff;
      width: 1.7rem;
      height: 1.7rem;
    }
  }

  &__radio-label {
    background-color: #fff;
    border: 2px solid color(borders);
    border-radius: 20px;
    font-size: 1.4rem;
    padding: 0.6rem 1.5rem 0.6rem 0.6rem;
    cursor: pointer;

    &::before {
      background-color: transparent;
      background-clip: content-box;
      border: 2px solid color(borders);
      border-radius: 100%;
      content: "";
      display: inline-block;
      height: 1.7rem;
      margin-right: 0.4rem;
      padding: 0.2rem;
      vertical-align: -0.3rem;
      width: 1.7rem;
    }
    &:hover {
      border-color: color(primary);
      color: color(primary);
      &::before {
        background-color: color(borders);
        border-color: color(primary);
      }
    }
  }

  &__checkbox {
    margin-top: 2rem;
  }

  &__checkbox-input {
    @include hideElement;
  }

  &__checkbox-input:checked + &__checkbox-label::before {
    background-color: color(primary);
    border-color: color(primary);
  }

  &__checkbox-input:checked + &__checkbox-label::after {
    border-color: #fff;
    display: inline;
  }

  &__checkbox-label {
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;

    &::before {
      background-color: transparent;
      border-radius: 2px;
      border: 2px solid color(borders);
      content: "";
      display: inline-block;
      height: 2.2rem;
      margin-right: 0.5rem;
      padding: 0.12rem;
      vertical-align: -0.6rem;
      width: 2.2rem;
    }

    &::after {
      border-right: 3px solid color(borders);
      border-top: 3px solid color(borders);
      display: none;
      content: "";
      height: 1.3rem;
      left: 5px;
      position: absolute;
      top: 10px;
      transform: scaleX(-1) rotate(135deg);
      transform-origin: left top;
      width: 0.7rem;
    }

    &:hover::before {
      border-color: color(primary);
    }

    &:hover::after {
      display: inline;
    }
  }

  &__picker-input {
    @include hideElement;
  }

  &__picker {
    display: inline-block;
    margin-top: 1.5rem;
  }

  &__picker-label {
    background-color: #fff;
    border: 2px solid color(borders);
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.8rem 4rem;
    text-align: center;
  }

  &__picker-input:checked + &__picker-label {
    background-color: color(primary);
    color:#fff;
    font-weight: bold;
  }
}
