@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "config.scss", "functions.scss";
$break-tablet: 720px;
$break-desktop: 1020px;


* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: color(lightGrey);
  font-family: 'Open Sans', sans-serif;
  padding:10px 20px;
}

.header {
  margin: 20px 10px;
  &__title {
    font-size: 3.2rem;
    font-weight: 300;
  }
}

.grid {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;

  &__item {
    display: flex;
    width: calc(100% - 20px);
    margin:10px;
    height: auto;
    border-radius: 2px;

    @media screen and (min-width: $break-tablet) {
        width: calc(50% - 20px);
        margin:10px auto;
    }
    
    @media screen and (min-width: $break-desktop) {
      width: calc(33.333% - 20px);
    }
  }
}

.card {
  width:100%;
  height: auto;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  background-color: #fff;

  &--bcg-grad {
    background: -webkit-linear-gradient(45deg, #facd10 0%,#55a738 100%); 
    background: linear-gradient(45deg, #facd10 0%,#55a738 100%); 
  }

  &__header {
    border-radius: 2px 2px 0 0;
    width: 100%;
    height: 200px;
    background-image: url('https://image.shutterstock.com/image-photo/car-thief-using-tool-break-450w-147792686.jpg');
    background-size: cover;
    position: relative;
  }

  &__header--polygon {
    height: 250px;
    -webkit-clip-path: polygon(0 -50%, 160% 0, 100% 250px, 0 200px);
    clip-path: polygon(0 -50%, 160% 0, 100% 250px, 0 200px);
  }

  &__text {
    display: inline-block;
    font-size:1.2rem;
    font-weight: bold;
    
    text-transform: uppercase;
    position: absolute;
    top:20px;
    left:-15px;
    padding:10px 15px;
    border-radius: 15px;
    background-color: color(blue);
    box-shadow: 0px 10px 20px 0px rgba(color(blue),0.5);
    color:white;
  }
  
  &__text--yellow {
    background-color: color(yellow);
    box-shadow: 0px 10px 20px 0px rgba(color(yellow),0.5);
    color:black;
  }

  &__close {
    display: inline-block;
    background-color: #fff;
    border-radius: 20px;
    position:absolute;
    top:-20px;
    right:-20px;
    width: 40px;
    height: 40px;
    border: 2px solid color(green);
    box-shadow: 0px 10px 20px 0px rgba(color(green),0.5);

     &::before, &::after {
      position: absolute;
      left: 16px;
      top: 8px;
      content: ' ';
      height: 20px;
      width: 3px;
      background-color: #55a738;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    } 
  }

  &__title {
    font-size:1.6rem;
    text-align: center;
    padding:3px 0;
    margin-top:25px;
  } 

  &__text-main {
    font-size:1.4rem;
    text-align: center;
    padding:0 20px;
  }

  &__text-relevant-container {
    border-left :7px solid color(yellow);
    margin:20px;
  }

  &__text-relevant {
    font-size:2.2rem;
    margin-left:5px;
  }

  &__button {
    border-radius:20px;
    padding:10px 50px;
    border:none;
    background-color: color(yellow);
    box-shadow: 0px 2px 0px 0px color(yellowShadow);
    font-size:1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px auto;
    display: block;
    cursor: pointer;
  }
}

.form {
  margin: 25px;

  &__title {
    font-size: 1.2rem;
  }
  &__inputs-group {
    display: flex;
    justify-content: space-between;
  }
  &__input-single {
    display: flex;
    flex-direction: column;
    width:45%;
  }
  &__label {
    font-size:1.2rem;
  }

  &__input {
    height: 40px;
    border:2px solid color(lightGrey);
    border-radius:2px;
    margin-top:5px;
  }

  &__radios-group {
    margin-top:1.2rem;
  }

  &__radio-single {
    display:inline-block;
    margin-top:1.2rem;
    position: relative;
  }

  &__radio-input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  &__radio-input:checked + &__radio-label {
    background-color: color(blue);
    border-color: color(blue);
    color:white;
    &::before {
      border: 4px solid white;
      background-color: color(blue);
      width: 0.7rem;
      height: 0.7rem;
    }
  }

  &__radio-label {
    font-size:1.4rem;
    border:2px solid color(lightGrey);
    border-radius: 20px;
    padding:6px;
    cursor: pointer;

    &::before {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-right: 0.4rem;
      border-radius: 100%;
      vertical-align: -3px;
      border: 2px solid color(lightGrey);
      padding: 0.16rem;
      background-color: transparent;
      background-clip: content-box;
    }
    &:hover {
      border-color: color(blue);
      color: color(blue);
      &::before {
        border-color: color(blue);
        background-color: color(lightGrey);
      }
    }
  }

  &__checkbox {
    margin-top:20px;
  }

  &__checkbox-input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  &__checkbox-input:checked + &__checkbox-label::before {
    background-color: color(blue);
    border-color: color(blue);
  }

  &__checkbox-input:checked + &__checkbox-label::after {
    border-color: white;
    display: inline;
  }

  &__checkbox-label {
    font-size:1.2rem;
    position: relative;
    cursor: pointer;
    
    &::before {
      content: "";
      display: inline-block;
      width: 1.4rem;
      height: 1.4rem;
      margin-right: 0.5rem;
      vertical-align: -5px;
      border: 2px solid color(lightGrey);
      padding: 0.12rem;
      background-color: transparent;
      border-radius: 2px;
    }

    &::after {
      border-right: 3px solid color(lightGrey);
      border-top: 3px solid color(lightGrey);
      content: "";
      height: 10px;
      left: 3px;
      position: absolute;
      top: 9px;
      transform: scaleX(-1) rotate(135deg);
      transform-origin: left top;
      width: 4px;
      display: none;
    }

    &:hover::before {
      border-color: color(blue);
    }

    &:hover::after {
      display: inline;
    }
  }
}
